.section-hero{
    height: 100vh;
    
}

.beatbox{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(48, 42, 42);
}

.button{
    border: 3px solid blue;
    padding: 30px;
    margin: 15px;
    border-radius: 5px;
    color: white;
    transition: all .2s;
}